.Toastify__toast--error {
  border: 1px solid #ffffff;
  background: #fde7e7 !important;
}
.Toastify__toast--error::after {
  position: absolute;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast--error::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success {
  border: 1px solid #3a9ea5 !important;
  border-radius: 50px !important;
  background: #f0f9fa !important;
}
.Toastify__toast--success::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast--warning {
  border: 1px solid #e78326 !important;
  border-radius: 50px !important;
  background: #fadfc5 !important;
}
.Toastify__toast--warning::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--warning::after {
  position: absolute;
  color: #e78326;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast {
  min-height: 45px !important;
}
.Toastify__toast-body {
  color: #000000;
  font-size: 13px;
  width: 100%;
  font-weight: 500;
}
.Toastify__toast-container {
  display: flex;
  justify-content: center;
}
.Toastify__toast > button{
  padding: 7px 0;
}
.Toastify__progress-bar--wrp {
  display: none;
}
